# DAY 8

## PANDAS

=> USE TO CLEAN AND TRANSFORM DATA

=> POWERFUL -> BUILD UPON NUMPY

=> STRUCTURE FORMAT OF DATA

=> ROWS AND COLUMNS

=> DATAFRAME -> SERIES OF COMBINATION

=> SERIES : 1 COLUMN [VECTOR] -> 1D ARRAY

In [4]:
import pandas as pd

In [ ]:
pd.Series([10,20,30,70])

0    10
1    20
2    30
3    40
dtype: int64

In [7]:
import pandas as pd
markSeries = pd.Series([1, 2, 3, 4])
print(markSeries)

0    1
1    2
2    3
3    4
dtype: int64

In [8]:
# import pandas as pd
# s = pd.Series([1, 2, 3, 4])
# print(s)
# s.index         # Get index
# s.dtype         # Data type
# s.shape         # Shape (number of elements,)
# s.size          # Total number of elements
# s.name          # Name of the Series
# s.values        # Numpy array of values

In [10]:
# "20"=> object datatype or non-numerical datatype
import pandas as pd
markSeries= pd.Series([10,20.1,"30",70])
print(markSeries)
print(markSeries.index)

0      10
1    20.1
2      30
3      70
dtype: object
RangeIndex(start=0, stop=4, step=1)

#### INDEX CHANGE IN PANDAS

In [11]:
import pandas as pd
markSeries= pd.Series([10,20.1,"30",70],index=["A","B","C","D"])
print(markSeries)
print(markSeries["C"])

A      10
B    20.1
C      30
D      70
dtype: object
30

#### IF INDEX SAME IN PANDAS

In [15]:
import pandas as pd
markSeries= pd.Series([10,20.1,"30",70],index=["A","B","A","D"])
print(markSeries)
print(markSeries["A"])

A      10
B    20.1
A      30
D      70
dtype: object
A    10
A    30
dtype: object

#### CHANGING VALUE USING INDEX

In [13]:
import pandas as pd
markSeries= pd.Series([10,20,30,70],index=["A","B","C","D"])
print(markSeries)
markSeries["A"]=900
print(markSeries)

A    10
B    20
C    30
D    70
dtype: int64
A    900
B     20
C     30
D     70
dtype: int64

#### keyvalue or dictionary convertion

In [19]:
import pandas as pd
markSeries= pd.Series([10,20,30,70],index=["A","B","C","D"])
print(markSeries)
new_markSeries=markSeries.to_dict()
print(new_markSeries)

A    10
B    20
C    30
D    70
dtype: int64
{'A': 10, 'B': 20, 'C': 30, 'D': 70}

#### Descriptive Statistics in PANDAS

In [20]:
# s.mean()        # Average
# s.median()      # Median
# s.mode()        # Mode
# s.std()         # Standard deviation
# s.var()         # Variance
# s.min()         # Minimum
# s.max()         # Maximum
# s.sum()         # Sum
# s.count()       # Count non-NA values
# s.describe()    # Summary stats

In [24]:
import pandas as pd
markSeries= pd.Series([10,20,30,70],index=["A","B","C","D"])
print(markSeries.idxmax)
print(markSeries.min)

<bound method Series.idxmax of A    10
B    20
C    30
D    70
dtype: int64>
<bound method Series.min of A    10
B    20
C    30
D    70
dtype: int64>

#### VALUE COUNT

In [25]:
import pandas as pd
markSeries= pd.Series([10,20,30,70],index=["A","B","C","D"])
print(markSeries.value_counts())

10    1
20    1
30    1
70    1
Name: count, dtype: int64

#### TO MAKE SORTING IN DESCENDING ORDER

In [28]:
import pandas as pd
markSeries= pd.Series([10,90,30,70],index=["A","B","C","D"])
p= markSeries.sort_index(ascending=False)
print(p)

D    70
C    30
B    90
A    10
dtype: int64

In [30]:
import pandas as pd
markSeries= pd.Series([10,90,30,70],index=["A","B","C","D"])
p= markSeries.sort_values(ascending=False)
print(p)

B    90
D    70
C    30
A    10
dtype: int64

#### COUNT UNIQUE

In [32]:
import pandas as pd
markSeries= pd.Series([10,90,30,30],index=["A","B","C","D"])
print(markSeries)
p= markSeries.unique
print(p)

A    10
B    90
C    30
D    30
dtype: int64
<bound method Series.unique of A    10
B    90
C    30
D    30
dtype: int64>

#### DROP DUPLICATE

In [34]:
import pandas as pd
markSeries= pd.Series([10,90,30,30],index=["A","B","C","D"])
print(markSeries)
p= markSeries.drop_duplicates(keep="last") # first last false
print(p)

A    10
B    90
C    30
D    30
dtype: int64
A    10
B    90
D    30
dtype: int64

DUPLICATE FUNCTION

In [35]:
import pandas as pd

df = pd.DataFrame({
    'A': [1, 1, 2, 3, 3],
    'B': ['x', 'x', 'y', 'z', 'z']
})

# Drop duplicate rows
df_cleaned = df.drop_duplicates()
df.drop_duplicates(subset='A')                # Drop duplicates based on column A
df.drop_duplicates(subset=['A', 'B'])         # Based on multiple columns
df.drop_duplicates(keep='last')               # Keep last occurrence
df.drop_duplicates(keep=False)                # Drop all duplicates
df.drop_duplicates(inplace=True)              # Modify in place
df.drop_duplicates(ignore_index=True)         # Reset index in the result

   A  B
0  1  x
1  2  y
2  3  z

### JSON

JAVASCRIPT OBJECT NOTATION

In [41]:
# COLUMN
# JSON FORMAT
data={"product":["apple","laptop"],"amount":[50000,105000]}
df=pd.DataFrame(data)
print(df)
print(type(df))

  product  amount
0   apple   50000
1  laptop  105000
<class 'pandas.core.frame.DataFrame'>

In [ ]:
product_column=df["product"]
print(product_column)
print(type(product_column))   # series -> column selected

0     apple
1    laptop
Name: product, dtype: object
<class 'pandas.core.series.Series'>

##### sorting by value in dataframe

In [46]:
df.sort_values(by="amount")

  product  amount
0   apple   50000
1  laptop  105000

##### sorting by product alphabet in dataframe

### CSV

COMMA SEPERATED VALUES

1,AMAN,REGEX

In [103]:
ratinger=pd.read_csv("ml-latest-small/ratings.csv")

In [104]:
print(ratinger.head())

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [105]:
print(ratinger.tail())

        userId  movieId  rating   timestamp
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

In [106]:
ratinger[ratinger["movieId"]==3]

       userId  movieId  rating   timestamp
1           1        3     4.0   964981247
561         6        3     5.0   845554296
2276       19        3     3.0   965707636
4930       32        3     3.0   856736172
5875       42        3     4.0   996221045
6316       43        3     5.0   848994405
6430       44        3     3.0   869251910
7423       51        3     4.0  1230932736
8511       58        3     3.0   847719397
9429       64        3     3.5  1161519668
10362      68        3     2.0  1158533415
14123      91        3     3.0  1112712323
15300     100        3     3.5  1100183804
15509     102        3     5.0   840635033
18262     116        3     3.5  1337200325
18350     117        3     3.0   844163663
22277     150        3     3.0   854203124
22304     151        3     3.0   855947242
24323     169        3     5.0  1078284750
25882     179        3     4.0   852114317
30887     217        3     1.0   955944713
33046     226        3     3.5  1095662861
35582     240        3     4.0   849122858
39032     269        3     4.0   850865480
39061     270        3     3.0   853918793
42116     288        3     4.0   975691635
43169     289        3     2.5  1143424657
43959     294        3     1.0   966596854
45643     302        3     3.0   854472084
46735     307        3     3.5  1186161652
47709     308        3     0.5  1421374465
49919     321        3     3.0   843212762
50950     330        3     3.0  1285905545
51894     337        3     4.0   860255784
55396     368        3     3.0   971273951
61842     410        3     4.0   990910830
62296     414        3     4.0   961439278
68657     448        3     3.0  1019128536
71258     456        3     3.0   856883349
72920     470        3     3.0   849370396
75426     477        3     3.0  1200941177
76229     480        3     2.5  1179178556
79297     492        3     4.0   863976005
79994     501        3     5.0   844973817
84604     544        3     3.0   850688562
84931     552        3     1.0  1111472953
85292     555        3     5.0   978747454
90421     588        3     3.0   839317471
90519     590        3     3.0  1258416995
91497     594        3     4.0  1108798921
92625     599        3     1.5  1498505071
98668     608        3     2.0  1117504413

#### filter those movieId that is 3 or 5

In [107]:
ratinger[(ratinger["movieId"]==3) | (ratinger["movieId"]==5)]
# rating[rating["movieId"].isin([3, 5])]

       userId  movieId  rating   timestamp
1           1        3     4.0   964981247
561         6        3     5.0   845554296
563         6        5     5.0   845553938
2276       19        3     3.0   965707636
4880       31        5     3.0   850466642
...       ...      ...     ...         ...
91497     594        3     4.0  1108798921
92625     599        3     1.5  1498505071
95104     600        5     2.5  1237759452
97045     604        5     3.0   832080355
98668     608        3     2.0  1117504413

[101 rows x 4 columns]

In [108]:
movie_rating=ratinger[ratinger["rating"]>=4]
movie_rating["rating"].value_counts()

rating
4.0    26818
5.0    13211
4.5     8551
Name: count, dtype: int64

In [109]:
count_1_rating_3=ratinger[(ratinger["userId"]==1) & (ratinger["rating"]==3) ]
print(count_1_rating_3["rating"].value_counts())

rating
3.0    26
Name: count, dtype: int64

In [111]:
count_1_rating_3=ratinger[ratinger["rating"]>=3]
print(count_1_rating_3["userId"].value_counts().sort_values(ascending=False).head(3))

userId
414    2117
474    1750
610    1159
Name: count, dtype: int64

### TSB

TAB SEPERATED VALUE

1    AMAN    REGEX

### DSV

=> DELIMITTER SEPERATED VALUE

1$AMAN$REGEX

# CREATE A API

### CREATE AN API OF YOUTUBE

=> USING THIS API CREATE A DATAFRAME IN PANDAS

=> THEN BASICALLY LOOK FOR THE COLUMNS AND INDEX

=> THEN CALCULATE THE TOTAL VIDEOS, TOTAL LIKE, AVERAGE LIKE, AND MINIMUM LIKES FOR EACH CHANNEL (USING GROUP BY)